.card-format{
   margin-top: 10px;
   margin-bottom: 10px;
}

.c-header-background {
    background-color: var(--main-light-grey);
    color: var(--main-dark-blue);
}

.text-card-format {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.card-radius-flat{
    border-radius: 0 !important;
}

.card-btn:hover{
    cursor: pointer;
    color: white;
}

.service-pill{
    padding: 10px;
    width: 120px;
    height: 50px;
    background-color: var(--main-light-blue);
    margin: 1%;
    color: var(--main-blue);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}