.card-format{
   margin-top: 10px;
   margin-bottom: 10px;
}

.c-header-background {
    background-color: var(--main-light-grey);
    color: var(--main-dark-blue);
}

.text-card-format {
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.card-radius-flat{
    border-radius: 0 !important;
}

.card-btn:hover{
    cursor: pointer;
    color: white;
}

.service-pill{
    padding: 10px;
    background-color: var(--main-light-blue);
    border-radius: 5px;
    margin: 1%;
    color: var(--main-blue);
    font-weight: bold;
}