<div class="card-format">
    <div class="card shadow" *ngIf="saveMessage === false">
        <div class="card-header">
            <h4>{{this.iceCream.FlavorName}} - {{this.iceCream.Business}} - {{this.iceCream.Location}}</h4>
            <h4> Ice Cream Id: {{this.iceCream.IceCreamId}}</h4>
            <h4>Over All Rating: <rating style="color: var(--main-yellow);" [(ngModel)]="this.iceCream.OverAllRating.RatingValue" [max]="5"
                    [readonly]="true"></rating> - {{this.iceCream.OverAllRating.RatingValue}}/5</h4>
            <h4>Date Reviewed: {{this.iceCream.ReviewDate | date:'shortDate'}}</h4>
            <div class="row">
                <div class="col-1 card-btn">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-pencil-square" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg" (click)="editIceCream(iceCreamAddTemplate)">
                        <path
                            d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456l-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd"
                            d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg>
                </div>
                <div class="col-1 card-btn">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-geo-alt" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                    </svg>
                </div>
                <div class="col-1 card-btn">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-images" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg" (click)="openImageModal(imageTemplate)">
                        <path fill-rule="evenodd"
                            d="M12.002 4h-10a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1zm-10-1a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2h-10z" />
                        <path
                            d="M10.648 8.646a.5.5 0 0 1 .577-.093l1.777 1.947V14h-12v-1l2.646-2.354a.5.5 0 0 1 .63-.062l2.66 1.773 3.71-3.71z" />
                        <path fill-rule="evenodd"
                            d="M4.502 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3zM4 2h10a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1v1a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2H4a2 2 0 0 0-2 2h1a1 1 0 0 1 1-1z" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div *ngFor="let service of this.iceCream.Services" class="service-pill">
                    {{service.ServiceName}}
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                    </svg>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4">
                    <h6>Flavor:</h6>
                    <p>
                        <rating [(ngModel)]="this.iceCream.FlavorRating.RatingValue" [max]="5" [readonly]="true"
                            class="star-rating"></rating> {{this.iceCream.FlavorRating.RatingValue}}/5
                    </p>
                    <hr />
                    <h6>Creaminess:</h6>
                    <p>
                        <rating [(ngModel)]="this.iceCream.CreaminessRating.RatingValue" [max]="5" [readonly]="true"
                            class="star-rating"></rating> {{this.iceCream.CreaminessRating.RatingValue}}/5
                    </p>
                    <hr />
                    <h6>Iciness:</h6>
                    <p>
                        <rating [(ngModel)]="this.iceCream.IcinessRating.RatingValue" [max]="5" [readonly]="true"
                            class="star-rating"></rating> {{this.iceCream.IcinessRating.RatingValue}}/5
                    </p>
                    <hr />
                    <h6>Density:</h6>
                    <p>
                        <rating [(ngModel)]="this.iceCream.DensityRating.RatingValue" [max]="5" [readonly]="true"
                            class="star-rating"></rating> {{this.iceCream.DensityRating.RatingValue}}/5
                    </p>
                    <hr />
                    <h6>Value:</h6>
                    <p>
                        <rating [(ngModel)]="this.iceCream.ValueRating.RatingValue" [max]="5" [readonly]="true"
                            class="star-rating"></rating> {{this.iceCream.ValueRating.RatingValue}}/5
                    </p>
                    <hr />
                </div>
                <div *ngIf="this.iceCream.Comments" class="col-md">
                    <div>
                        <h5>Comments</h5>
                    </div>
                    <div class="card text-card-format card-radius-flat shadow-sm">
                        <p class="card-text">
                            {{this.iceCream.Comments}}
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="card-body" *ngIf="saveMessage === true">
        <div class="spinner-border text-success" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
</div>

<ng-template #iceCreamAddTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Edit Ice Cream</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="iceCreamModalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-ice-cream-add [iceCream]="this.iceCream" [edit]="true" (saved)="onSaved()" (deleted)="onDelete($event)">
        </app-ice-cream-add>
    </div>
</ng-template>

<ng-template #imageTemplate>
    <div class="modal-lg">

    <div class="modal-header">
        <h4 class="modal-title pull-left">Images</h4>
        <button class="btn btn-custom-dark" [routerLink]="['upload', this.iceCream.IceCreamId]"
            (click)="imageModalRef.hide()">Upload Images</button>
        <button type="button" class="close pull-right" aria-label="Close" (click)="closeImageModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div *ngIf="imageList.length === 0" class="image-container">
            <h1>
                No Images Uploaded
            </h1>
        </div>
        <div class="image-container">
            <div *ngFor="let image of imageList" class="image-child-container">
                <img width="460" height="240" [src]="image.src" />
            </div>
        </div>
    </div>
</div>

</ng-template>