.card{
    margin: 1%;
    border: 3px solid var(--main-purple);
}


.text-card-format {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.card-btn:hover{
    cursor: pointer;
    color: white;
}

.service-pill{
    padding: 10px;
    width: 120px;
    height: 50px;
    border-radius: 5px;
    background-color: var(--main-purple);
    margin: 1%;
    color: var(--main-light-blue);
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.image-child-container{
    margin: 1%;
}

img{
    object-fit: contain;
}

img:hover{
    opacity: 50%;
    cursor: pointer;
}

.star-rating{
    color: var(--main-orange);
    font-size: 18px;
}

.delete-container{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: var(--main-purple);
}

svg{
    opacity: 75%;
}
svg:hover{
    cursor: pointer;
    opacity: 100%;
}