<div class="card-format">
    <div class="card shadow">
        <div class="card-header c-header-background">
            <h4>{{this.iceCream.Name}} - {{this.iceCream.Business}} - {{this.iceCream.Location}}</h4>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <app-rating [rating]="this.iceCream.FlavorRating" [edit]="this.edit"></app-rating>
                    <app-rating [rating]="this.iceCream.TextureRating" [edit]="this.edit"></app-rating>
                    <app-rating [rating]="this.iceCream.ValueRating" [edit]="this.edit"></app-rating>
                </div>
                <div class="col-md">
                    <div>
                        <h5>Comments</h5>
                    </div>
                    <div class="card text-card-format shadow-sm">
                        <p class="card-text">
                            {{this.iceCream.Comments}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>