.card-body{
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
}

.card{
    height: 300px;
    /* background-image: var(--card-gradient); */
    /* border-radius: 0% !important; */

}
.my-review-link{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main-purple);
    color: var(--main-light-blue);
    font-size: 15px;
    padding: 2%;
    width: 50%;
    margin: 1%;
    transition: .75s;
}

.my-review-link:hover{
    cursor: pointer;
    background: var(--main-orange);
    color: var(--main-purple);
}

.data-feed-card{
    display: flex;
    align-items: center;
    font-size: 12px;
    color: var(--main-purple);
    padding: 1%;
    margin: 1%;
    width: 75%;
    border-radius: 5px;
    background: var(--main-light-purple);
    border: 3px solid var(--main-purple);
    transition: .75s;

}
.data-feed-card:hover{
    cursor: pointer;
    background: var(--main-orange);
    color: var(--main-purple);
    border: 5px solid var(--main-light-blue);

}
