.card-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: 100%;
}

.card{
    flex: 100%;
    border: 10px solid var(--main-purple);
    border-radius: 0% !important;

    animation: data-animation 2s;

}
.detail-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.my-review-link{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main-purple);
    color: var(--main-light-blue);
    font-size: 20px;
    padding: 2%;
    width: 50%;
    margin: 1%;
    transition: .75s;
}

.my-review-link:hover{
    cursor: pointer;
    background: var(--main-orange);
    color: var(--main-purple);
}

.data-feed-card{
    display: flex;
    align-items: center;
    padding: 2%;
    margin: 1%;
    width: 100%;
    background: var(--main-light-purple);
    border: 5px solid var(--main-purple);
    transition: .75s;

}
.data-feed-card:hover{
    cursor: pointer;
    background: var(--main-orange);
    color: var(--main-purple);
    border: 5px solid var(--main-light-blue);

}
@keyframes data-animation{
    from{opacity: 0%}
    to{opacity: 100%}
}