.card-body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 100%;
}

.info-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width:100%;
    height: 100%;
}
.card{
    flex: 100%;
    height: 700px;
    border: 10px solid var(--main-purple);
    border-radius: 0% !important;

    animation: data-animation 2s;

}
.detail-container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.my-review-link{
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--main-purple);
    color: var(--main-light-blue);
    font-size: 20px;
    padding: 2%;
    width: 50%;
    margin: 1%;
}

.data-feed-card{
    display: flex;
    align-items: center;
    padding: 2%;
    margin: 1%;
    width: 100%;
    background: var(--main-light-purple);
    border: 5px solid var(--main-purple);
}
.data-feed-card:hover{
    cursor: pointer;
}
@keyframes data-animation{
    from{opacity: 0%}
    to{opacity: 100%}
}
hr{
    width: 600px;
    border: 2px solid var(--main-light-blue);
}