div{
    height: 500px;
}
.color-div-one{
    background-color: var(--main-light-pink);
}
.color-div-two{
    background-color: var(--main-pink);
}
.color-div-three{
    background-color: var(--main-dark-pink);
    height: 800px;
}

.fixed-bg{
    background-image: url("../../../assets/images/background-image.JPG");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-info{
    background-color: var(--main-dark-pink);
    border-width: 3px;
    height: 200px;
    width: 200px;
}