<div class="container-fluid">
    <div class="row">
        <div class="color-div-one col">
            <div class="row">
                <div class="col-md-6 div-format">
                    <h1 class="h-font">Track your favorite ice creams with Ice Cream Tracker.</h1>
                    <p class="p-font">Track, Rate, and Share your ice creams :)</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div id="picture-div-2" class="fixed-bg col">
        </div>
    </div>
    <div class="row">
        <div class="color-div-two col">
            <div class="row">
                <div class="col div-format">
                    <h1 class="h-font-2">This is another header that will explain something about the site.</h1>
                    <p class="p-font-2">This is some paragraph that will explain something about the site</p>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div id="picture-div-3" class="fixed-bg col">
        </div>
    </div>
    <div class="row">
        <div class="color-div-three col">
        </div>
    </div>
</div>