<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 bg" #picOne>
            <div class="h-bold">
                EAT <br>
                MORE <br>
                ICE CREAM
            </div>
        </div>
    </div>
    <div class="row m-row">
        <div class="col-md-4 col-xs-4 d-bold" #textOne>
            Sign up.<br>
            Track.<br>
            Rate.<br>
        </div>
        <div class="col-xs-4 col-md-4 d-flex justify-content-center text-center align-text">
            <app-user-sign-up></app-user-sign-up>
        </div>
    </div>
    <div class="row footer-row">
        <div class="col-md-4"></div>
        <div class="col-md-4"></div>
        <div class="col-md-4 col-md-offset-4">
            <pre class="footer-format">
            Ice Cream Tracker is an ice cream tracking and
            rating application that I created with the intent
            of logging my wife and my ice cream eating escapades.

            Joe Bohnert 2020.
        </pre>
        </div>
    </div>

</div>