 .bg{
    /* position: relative; */
    background-image: url("../../../assets/images/svg/background_one_test.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 1000px;
    width: 100%;
} 

.info-div{
    margin: 2%;
    position: relative;
    background-color: rgba(255, 255, 255, 0.507);
    height: 100%;
    width: 50%;
    border-radius: 2%;
    /* border: 5px solid white; */
    display: flex;
    justify-content: center;
}
.row{
    height: 75%;
}







