<div class="row">
    <div class="color-div-one col-md-12 col-xs-12">
        <div class="row">
            <div class="col-md-4 col-xs-4">
                <div class="align-text">
                    <h1 class="h-font">Track your favorite ice creams with Ice Cream Tracker.</h1>
                    <p class="p-font">Track, Rate, and Share your ice creams :)</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="color-div-two col-md-12 col-xs-12">
        <div class="row">
            <div class="col-md-4 col-xs-4">
            </div>
            <div class="col-xs-4 col-md-4">
            </div>
            <div class="col-md-4 col-xs-4">
                <div class="align-text">
                    <h1 class="h-font-2">This is another header that will explain something about the site.</h1>
                    <p class="p-font-2">This is some paragraph that will explain something about the site</p>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 fixed-bg picture-div">
    </div>
</div>
<div class="row">
    <div class="color-div-three col-md-12 col-xs-12" #lastDiv>
        <div class="row">
            <div class="col-md-4 col-xs-4">
            </div>
            <div class="col-xs-4 col-md-4">
            </div>
            <div class="col-xs-4 col-md-4">
                <div class="align-text">
                    <div class="card">
                        <div class="card-body">
                            <app-user-sign-up></app-user-sign-up>
                            <br>
                            <h3>Sign Up For Ice Cream :)</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>