div {
    height: 500px;
}
.color-div-one{
    position: relative;
    background-color: var(--main-light-pink);
}
.color-div-two{
    position: relative;
    background-color: var(--main-pink);
}
.color-div-three{
    background-color: var(--main-dark-pink);
    height: 800px;
}

.fixed-bg{
    background-image: url("../../../assets/images/background-image.JPG");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.h-font{
    font-size: 35px;
    font-family: 'Sonsie One';
    color: var(--main-dark-pink);
}

.p-font{
    font-size: 20px;
    font-family: 'Sonsie One';
    color: var(--main-dark-pink);
}
.h-font-2{
    font-size: 35px;
    font-family: 'Sonsie One';
    color: var(--main-light-pink);
}
.p-font-2{
    font-size: 20px;
    font-family: 'Sonsie One';
    color: var(--main-light-pink);
}