<div *ngIf="this.rating.RatingType === 'FlavorRating'">
    <label for="ratings-range" class="range-header">Flavor - {{this.rating.RatingValue}}</label>
    <input type="range" min="0" max="5" id="ratings-range" class="slider" [(ngModel)]="this.rating.RatingValue">
</div>
<div *ngIf="this.rating.RatingType === 'MouthFeelRating'">
    <label for="ratings-range" class="range-header">Mouth Feel - {{this.rating.RatingValue}}</label>
    <div class="slider-format">
        <input type="range" min="0" max="5" id="ratings-range" class="slider" [(ngModel)]="this.rating.RatingValue">
        </div>
</div>
<div *ngIf="this.rating.RatingType === 'DensityRating'">
    <label for="ratings-range" class="range-header">Density - {{this.rating.RatingValue}}</label>
    <div class="slider-format">
        <input type="range" min="0" max="5" id="ratings-range" class="slider" [(ngModel)]="this.rating.RatingValue">
        </div>
</div>
<hr />

<!--This is not very DRY but trying to think of a solution-->