<div class="bg-color" id="sideNav">
    <div id="addIceCream" class="side-nav-group" (click)="add(iceCreamAddTemplate)">Add Ice Cream</div>
    <div class="side-nav-group">PlaceHolder</div>
    <div class="side-nav-group">PlaceHolder</div>
</div>


<ng-template #iceCreamAddTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Add An Ice Cream!</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="iceCreamModalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-ice-cream-add></app-ice-cream-add>
    </div>
</ng-template>