.nav-item:hover{
    cursor: pointer;
    color: var(--main-pink);
}

.nav-item{
    color: var(--main-dark-pink);
    font-weight: bold;
}

.nav{
    background-color: lightgray;
    height: 100%;
}
