.display-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 1%;

}

@media screen and (max-width: 600px){
    .display-container{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}

.image-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background: lightgray;
    color: white;
    height: 200px;
    width: 200px;
}

.detail-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: var(--main-purple);
    font-size: 18px;
}


.star-rating{
    color: var(--main-orange);
    font-size: 25px;
}