.card{
    margin: 2%;
}
.head-container{
    display: flex;
    align-content: center;
    justify-content: center;
}
.add-container{
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    margin: 1%;
}
.add-card{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--main-purple);
    width: 20%;
    height: 50px;
    opacity: 50%;
    margin-top: 2px;
    transition: 0.5s;
}

.add-card:hover{
    cursor: pointer;
    border: 20px solid var(--main-purple);
    opacity: 100%;
    width: 50%;
    height: 75px;
    background: var(--main-light-blue);
}

.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    
}

.form-card{
    margin: 1%;
    border-radius: 5px;
    border: 3px solid var(--main-light-purple);
    width: 33%;
}

@media screen and (max-width: 600px){
    .form-card{
        margin: 1%;
        border-radius: 5px;
        border: 3px solid var(--main-purple);
        width: 100%;
    }
}

.delete-container{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    color: var(--main-purple);
}

svg:hover{
    cursor: pointer;
}

.section-head{
    display: flex;
}

@media screen and (max-width: 600px){
    .section-head{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
.container-fluid{
    background: var(--main-purple);
    animation: page-animation 2s;
}
@keyframes page-animation{
    from{opacity: 0%;}
    to{opacity: 100%;}
}
