<div class="container-fluid">
    <h1>Scoop Reviews</h1>
    <app-sort (value)="onSort($event)"></app-sort>
    <div class="add-container">
        <div class="add-card" *ngIf="addBoolean !== true" (click)="addClick()">
            <div>
                <h5>Click Here To Add A Scoop</h5>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="form-container" *ngIf="addBoolean === true">
            <div class="form-card">
                <div class="delete-container">
                    <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-x" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"
                            (click)="closeAdd()" />
                    </svg>
                </div>
                <app-ice-cream-add [edit]="false" (submitted)="onSubmitted($event)">
                </app-ice-cream-add>
            </div>
        </div>
        <table class="table">
            <tbody>
                <tr *ngFor="let iceCream of iceCreams">
                    <td>
                        <app-ice-cream-table-card [iceCream]="iceCream"></app-ice-cream-table-card>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
