.p-margins{
    margin-top: 20px;
}

.r-margin{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.sideNav{
    height:100%;
    width: 200px;
    position: fixed;
    background-color: var(--main-light-pink);
}

.main{
    margin-left:200px;
    
}

.btn-border{
    border-color: var(--main-dark-pink) !important;
    color: var(--main-dark-pink) !important;
    margin-left: 2px;
    margin-right: 2px;
    margin-bottom: 1px;
    float: right;
}

.t-margin{
    margin-top: 25px;
}

h5{
    color: var(--main-dark-pink);
    font-weight: bold;
}

.p-header{
    display: inline;
}