.side-nav-fixed{
    height:100%;
    width: 300px;
    position: fixed;
    background-color: var(--main-light-pink);
    padding-left: 0px;
    padding-right: 0px;
}

.main{
    margin-left: 300px;
}

h5{
    color: var(--main-dark-pink);
    font-weight: bold;
}

.p-header{
    display: inline;
}

.div-overflow{
    overflow: scroll;
}
