<div class="container-fluid">
    <div class="row">
        <div class="side-bar">
            <div class="nav flex-column nav" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab"
                    aria-controls="v-pills-home" aria-selected="true">Profile</a>
                <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab"
                    aria-controls="v-pills-profile" aria-selected="false">Reviews</a>
                <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab"
                    aria-controls="v-pills-messages" aria-selected="false">Statistics</a>
                <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab"
                    aria-controls="v-pills-settings" aria-selected="false">Add A Scoop</a>
            </div>
        </div>
        <div class="page-container">
            <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                    aria-labelledby="v-pills-home-tab">
                    <div>
                        <h5>Profile</h5>
                        <hr class="dashboard" />
                    </div>
                </div>
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                        aria-labelledby="v-pills-profile-tab">
                        <div>
                            <h5>Reviews</h5>
                            <hr class="dashboard" />
                        </div>
                        <div class="display-card-container">
                            <div *ngFor="let item of iceCreams" class="display-card">
                                <h6>Id: {{item.IceCreamId}}</h6>
                                <h6>Review Date: {{item.ReviewDate | date:'shortDate'}}</h6>
                                <h6>{{item.FlavorName}}</h6>
                                <h6>{{item.Business}}</h6>
                                <h6>{{item.Location}}</h6>
                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                        aria-labelledby="v-pills-messages-tab">
                        <div>
                            <h5>Statistics</h5>
                            <hr class="dashboard" />
                        </div>
                    </div>
                    <div class="tab-pane fade" id="v-pills-settings" role="tabpanel"
                        aria-labelledby="v-pills-settings-tab">
                        <div>
                            <h5>
                                Add A New Scoop Review
                            </h5>
                            <hr class="dashboard" />
                        </div>
                        <div>
                            <app-add-page></app-add-page>
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>

    <ng-template #iceCreamAddTemplate>
        <div class="modal-header">
            <h4 class="modal-title pull-left">Create An Ice Cream</h4>
            <button type="button" class="close pull-right" aria-label="Close" (click)="iceCreamModalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <app-ice-cream-add [edit]="false" (submitted)="onSubmitted($event)"></app-ice-cream-add>
        </div>
    </ng-template>