<div class="page-header row">
    <div class="header-container col-md-2">
        <h1 class="h-font">Ice Cream Tracker</h1>
    </div>
</div>
<nav class="navbar navbar-expand flex-column flex-md-row navbar-light nav-bar sticky-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <button class="btn btn-border nav-item nav-link active" routerLink="">Home</button>
            <button class="btn btn-border nav-item nav-link active" routerLink="/ice-creams">Ice Creams!</button>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>