<!-- <div class="page-header row">
    <div class="header-container col">
        <h1 class="h-font">Ice Cream Tracker</h1>
    </div>
</div> -->
<nav class="navbar navbar-expand flex-row navbar-light nav-bar sticky-top">
    <div class="contianer">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="nav navbar-nav">
                <button class="btn btn-border nav-item nav-link active" routerLink="">Home</button>
                <button class="btn btn-border nav-item nav-link active" routerLink="/ice-creams">Ice Creams!</button>
            </div>
        </div>
    </div>
 
</nav>
<div class="container-{100%}">
    <router-outlet></router-outlet>
</div>