<!-- <div class="page-header row">
    <div class="header-container col">
        <h1 class="h-font">Ice Cream Tracker</h1>
    </div>
</div> -->
<!-- <div class="container-{100%}"> -->
    <nav class="navbar navbar-expand flex-row navbar-light nav-bar sticky-top nav-margin">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <button class="btn btn-border nav-item nav-link active" routerLink="">Home</button>
                <button class="btn btn-border nav-item nav-link active" routerLink="/ice-creams">Ice Creams!</button>
            </div>
        </div>
    </nav>
<!-- </div> -->

<router-outlet></router-outlet>