.row.content {
    height: 100%;
    padding: 1%;
}

.container-fluid{
    background: var(--main-purple-opac);
}

@media screen and (max-width: 600px){
    .container-fluid{
    height: 100%;
    background: var(--main-purple-opac);
    }
}
