.display-card-container{
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 768px){
    .display-card-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
.display-card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    background: var(--main-light-purple);
    width: 300px;
    height: 200px;
    margin: 2px;
    border-radius: 2px;
}

h6{
    color: var(--main-purple) !important;

}
.display-card:hover{
    cursor: pointer;
    opacity: 75%;
}