<div class="container-fluid">
    <div>
        <form (ngSubmit)="onSubmit()" #iceCreamForm="ngForm">
            <div class="form-group">
                <label for="flavorName">Flavor Name</label>
                <input type="text" id="flavorName" class="form-control" required [(ngModel)]="this.iceCream.FlavorName"
                    name="flavor">
            </div>
            <div class="form-group">
                <label for="location">Location</label>
                <input type="text" id="location" class="form-control" required [(ngModel)]="this.iceCream.Location"
                    name="location">
            </div>
            <div class="form-group">
                <label for="business">Business</label>
                <input type="text" id="business" class="form-control" required [(ngModel)]="this.iceCream.Business"
                    name="business">
            </div>
            <div class="form-group">
                <label for="flavorRating">Flavor Rating</label>
                <select id="flavorRating" class="form-control" [(ngModel)]="this.iceCream.FlavorRating.RatingValue"
                    name="flavorRating">
                    <option *ngFor="let rating of this.flavorArray" [value]="this.flavorArray.indexOf(rating)">
                        {{rating}} - {{this.flavorArray.indexOf(rating)}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="mouthFeelRating">Mouth Feel Rating</label>
                <select id="mouthFeelRating" class="form-control"
                    [(ngModel)]="this.iceCream.MouthFeelRating.RatingValue" name="mouthFeelRating">
                    <option *ngFor="let rating of this.mouthFeelArray" [value]="this.mouthFeelArray.indexOf(rating)">
                        {{rating}} - {{this.mouthFeelArray.indexOf(rating)}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="densityRating">Density Rating</label>
                <select id="densityRating" class="form-control" [(ngModel)]="this.iceCream.DensityRating.RatingValue"
                    name="densityRating">
                    <option *ngFor="let rating of this.densityArray" [value]="this.densityArray.indexOf(rating)">
                        {{rating}} - {{this.densityArray.indexOf(rating)}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="comments">Comments</label>
                <textarea type="textarea" id="comments" class="form-control" [(ngModel)]="this.iceCream.Comments"
                    name="comments"></textarea>
            </div>
            <div class="form-group">
                <app-rating [rating]="this.iceCream.OverAllRating" [edit]="true"></app-rating>
            </div>
            <div *ngIf="this.edit === false">
                <button type="submit" class="btn btn-custom-dark" [disabled]="!iceCreamForm.form.valid">Submit</button>
            </div>

        </form>
        <div *ngIf="this.edit === true">
            <button type="submit" class="btn btn-custom-dark" [disabled]="!iceCreamForm.form.valid"
                (click)="onSave()">Save</button>
                <button type="submit" class="btn btn-custom-dark" (click)="onDelete(this.iceCream.IceCreamId)">Delete</button>
                <!-- <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg" (click)="onDelete(this.iceCream.IceCreamId)">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                  </svg> -->
        </div>
    </div>
</div>