/* You can add global styles to this file, and also import other style files */
:root {
    --main-light-pink: #FDDEF3;
    --main-pink: #F033B4;
    --main-dark-pink: #AE0D7A;
    --main-purple: #510639;
    --main-dark-purple: #340926;
    --main-black: black; /* place holder*/
    --header-gradient: linear-gradient(to bottom right,  #FDDEF3 0%, #AE0D7A 100%);
}
.nav-bar{
    background-color: var(--main-dark-pink);
}

.index-background-color {
    background-color: var(--main-pink);
}

.page-margin{
    margin-right: 50px;
    margin-left: 50px;
}

.image-size {
    width: 20px;
    height: 30px;
}

.logo-center{
    text-align: center;
    background: var(--header-gradient);
    padding-top: 10px;
}

