/* You can add global styles to this file, and also import other style files */
:root {
    --main-light-pink: #FDDEF3;
    --main-pink: #f033b4;
    --main-dark-pink: #AE0D7A;
    --main-dark-purple: #340926;
    --main-black: black; /* place holder*/
    --header-gradient: linear-gradient(to bottom right,  #FDDEF3 0%, #AE0D7A 100%);

    --main-light-yellow: #F7F4D4;
    --main-yellow: #ebe716;
    --main-purple: #700CBC;
    --main-light-purple: #cc96f5;
    --main-purple-alt: #470977 ;
    --main-dark-purple: #210934;

    --main-light-blue: #BAC6FD;
    --main-blue-alt: #798EF6;
    --main-blue: #314ac9;
    --main-dark-blue: #0A2299;
    --main-dark-blue-alt: #091034;

    --main-dark-grey: #3B3F4E;
    --main-light-grey: #b6b6b6;
    --main-orange: #ffaf00;
    --card-gradient: linear-gradient(to bottom right, white, #cc96f5);
    --background-gradient-one: linear-gradient(white, var(--main-purple));
    --main-purple-opac: rgba(112, 12, 188, .75);
}
.button-custom-light{
    border-color: var(--main-light-blue) !important;
    background: transparent;
    color: var(--main-light-blue) !important;
    margin-left: 2px;
    margin-right: 2px;
    padding: 3%;
    border-radius: 5px;
    border: 1px solid var(--main-light-blue);

}


.btn-custom-dark{
    display: flex;
    justify-items: center;
    align-items: center;
    border-radius: 5px;
    border: none;
    /* border-color: var(--main-light-purple); */
    padding: 1%;
    background: var(--main-purple);
    color: var(--main-light-blue);
    transition: 1s;
}
.btn-custom-dark:hover{
    cursor: pointer;
    background: var(--main-orange);
    color: var(--main-purple);
}
h1, h2, h3, h4, h5, h6{
    font-weight: bold;
    color: var(--main-purple);
}

p{
    color: var(--main-purple);
}

.card-header{
    background-color: var(--main-light-purple);
}

.flex-container-space{
    display: flex;
}


/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--main-light-blue); 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--main-orange); 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--main-dark-purple);
    cursor: pointer;
  }

  .graphics-container{
    width: 100px;
    height: 100px;
    align-self: flex-start;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}
.graphics{
    border-radius: 5%;
    position: absolute;
    background: var(--main-purple);
    height: 50px;
    width: 50px;
    box-shadow: -20px -20px 0 0 var(--main-orange);
}