/* You can add global styles to this file, and also import other style files */
:root {
    --main-light-pink: #FDDEF3;
    --main-pink: #F033B4;
    --main-dark-pink: #AE0D7A;
    --main-dark-purple: #340926;
    --main-black: black; /* place holder*/
    --header-gradient: linear-gradient(to bottom right,  #FDDEF3 0%, #AE0D7A 100%);

    --main-light-yellow: #F7F4D4;
    --main-yellow: #ebe716;
    --main-purple: #700CBC;
    --main-light-purple: #cc96f5;
    --main-purple-alt: #470977 ;
    --main-dark-purple: #210934;

    --main-light-blue: #BAC6FD;
    --main-blue-alt: #798EF6;
    --main-blue: #314ac9;
    --main-dark-blue: #0A2299;
    --main-dark-blue-alt: #091034;

    --main-dark-grey: #3B3F4E;
    --main-light-grey: #b6b6b6;
    --main-orange: #ffaf00;
}
* {
    font-family: "VT323" !important;
    font-weight: bolder;
}
.btn-custom-light{
    border-color: var(--main-light-blue) !important;
    color: var(--main-light-blue) !important;
    margin-left: 2px;
    margin-right: 2px;

}

.btn-custom-dark{
    border-color: var(--main-purple) !important;
    color: var(--main-purple) !important;
    margin-left: 2px;
    margin-right: 2px;

}

h1, h2, h3, h4, h5, h6{
    font-weight: bold;
    color: var(--main-purple);
}

.p{
    color: var(--main-purple);
}

.card-header{
    background-color: var(--main-light-purple);
}

.flex-container-space{
    display: flex;
}
