.card{
    width: 50%;
}

@media screen and (max-width: 768px){
    .card{
        width: 100%;
    }
}
.card-body{
    background: var(--main-light-blue);
}

.page-container{
    display: flex;
    justify-content: center;
    align-items: center;
}