.nav-link{
    color: var(--main-dark-pink) !important;
    font-weight: bold;
}

.nav-link:hover{
    cursor: pointer;
    color: var(--main-pink) !important;
}

.navbar-brand{
    color: var(--main-dark-pink) !important;
    font-size: 30px;
    font-family: 'Monofett';
}