.nav-link{
    color: var(--main-purple) !important;
    font-weight: bold;
}

.nav-link:hover{
    cursor: pointer;
}

.navbar-brand{
    color: var(--main-purple) !important;
    font-size: 30px;
    font-weight: bolder;
}

.navbar{
    background-color: var(--main-orange) !important;
    /* opacity: 25%; */
}
