<nav class="navbar navbar-expand flex-row navbar-light nav-bar sticky-top">
    <div class="contianer">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="nav navbar-nav">
                <button class="btn btn-custom-light nav-item nav-link active" routerLink="">Home</button>
                <button class="btn btn-custom-light nav-item nav-link active" routerLink="/ice-creams">Ice Creams!</button>
                <button class="btn btn-custom-light nav-item nav-link" (click)="signInClick(signInTemplate)">Sign In</button>
            </div>
        </div>
    </div>
</nav>

<ng-template #signInTemplate>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Sign In</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="signInModalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <app-user-sign-in></app-user-sign-in>
    </div>
</ng-template>
