<carousel [isAnimated]="true">
    <slide>
        <img src="assets/images/ice_cream_web_one.JPG" alt="first slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
            <h3>Welcome To Ice Cream Tracker</h3>
            <p>Track All Your Favorite Ice Creams :)</p>
        </div>
    </slide>
    <slide>
        <img src="assets/images/ice_cream_web_two.JPG" alt="second slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
            <h3>Rate and Share</h3>
            <p>Give Your Ice Creams Ratings.</p>
        </div>
    </slide>
    <slide>
        <img src="assets/images/ice_cream_web_three.JPG" alt="third slide" style="display: block; width: 100%;">
        <div class="carousel-caption d-none d-md-block">
            <h3>Map The Ice Creams In Your Life</h3>
            <p>Map 'em.</p>
        </div>
    </slide>
</carousel>